@import "../../../shared/shared-scss/variables.scss";
@import "../../../shared/shared-scss/app.scss";
@import "../../../shared/shared-scss/nav.scss";
button {
    padding: 10px;
    margin: 10px 5px 0px 15px;
}

.link__button--save {
    position: absolute;
    top: 25px;
    left: 5%;
    margin: 0px;
    box-shadow: $boxShadow;
    border: $border;
}
