<div class="dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="dashboard__section dashboard__section--small">
                    <div class="dashboard__heading dashboard__heading--mail">
                        <h2>Logowanie użytkownika</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="dashboard__section">
                    <div class="dashboard__heading">
                        <h3>Wprowadź dane</h3>
                    </div>
                    <div class="panel-body">
                        <form id="login-form" class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="form-group">
                                <label for="username">Nazwa klienta<sup>*</sup></label>
                                <input required type="text" class="form-control" formControlName="username" name="username">
                                <div *ngIf="isFieldInvalid('username')">
                                    Wprowadź nazwę klienta
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Hasło<sup>*</sup></label>
                                <input required type="password" class="form-control" formControlName="password" name="password">
                                <div *ngIf="isFieldInvalid('password')">
                                    Wprowadź hasło
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success" id="Login" title="Login">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
