@import "../../../shared/shared-scss/dashboard.scss";
@import "../../../shared/shared-scss/components/table.scss";
@import "../../../shared/shared-scss/components/button.scss";
.circles {
    height: 45px;
    width: 45px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
