@import "./reset.scss";
@import "./variables.scss";
h2 {
    font-size: $font-size-xl;
    color: $dark-secondary;
}

h3 {
    font-size: $font-size-md;
    color: $dark-disabled;
    text-transform: uppercase;
}
