<div class="dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="dashboard__section dashboard__section--small">
                    <div class="dashboard__heading dashboard__heading--mail">
                        <input type="text" class="form-control" (keyup)="search($event.target.value)" placeholder="Wprowadź znaki ...">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="dashboard__section">
                    <div class="dashboard__heading">
                        <h3>Lista ogłoszeń</h3>
                    </div>
                    <div class="list-group">
                        <select class="form-control" *ngFor="let location of locations | async  | slice:0: limit ">
                          <option value="location.name" > {{location.name}}</option>
                        </select>
                    </div>
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Ustaw limit</div>
                        </div>
                        <select class="form-control" (change)="setLimit($event.target.value)">
                          <option value="10">10</option>
                          <option value="20">20</option>
                          <option value="30">30</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
