<div class="jumbotron content">
    <div class="panel panel-default">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" (keyup)="search($event.target.value)" placeholder="Wprowadź znaki ...">
                </div>
                <h3>Wybierz lokalizację</h3>
                <div class="list-group">
                    <div class="list-group-item" *ngFor="let location of locations | async">
                        {{location.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <h2>Kontakt</h2>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Adres</h5>
                <p>
                    <i class="fa fa-home mr-3"></i> Warszawa 02-942 Konstancińska 7b/36</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> test@example.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i> + </p>
                <p>
                    <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
            </div>

        </div>
    </div>
</div>